@import "../app.component";

.canvas {
  border: 1px solid black;
  width: 250px !important;
  height: 100%;
  margin: auto;
}

.description-wrapper {
  width: 250px !important;
  margin: auto;
  height: 135px;
}

@media only screen and (min-width: 350px) {
  .canvas {
    width: 300px !important;
  }
  .description-wrapper {
    width: 300px !important;
  }

}

@media only screen and (min-width: 450px) {
  .canvas {
    width: 400px !important;
  }
  .description-wrapper {
    width: 400px !important;
  }

}

@media only screen and (min-width: 550px) {
  .canvas {
    width: 450px !important;
  }
  .description-wrapper {
    width: 450px !important;
  }

}

.description {
  text-align: justify;
}

.delete-canvas {
  position: absolute;
  right: 0;
  top: 0;
  color: $boostrapWhie;
  background-color: $boostrabDanger;
}

.delete-canvas:hover {
  cursor: pointer;
}

.execution-time {
  position: absolute;
  right: 1%;
  bottom: 0%;
  color: #4285F4;
}

.log {
  width: 500px;
}

.log-body {

  height: 300px;
  overflow-x: scroll;
  overflow-y: scroll;
  background: #FAFAFA;
  scrollbar-color: #171717 #FAFAFA;
  scrollbar-width: thin !important;
  font-family: Consolas;
}

.step-description {
  color: #171717;
}

.step-name {
  color: #1F1BFD;
}

.step {
  white-space: nowrap;
}

.log-header {
  height: 40px;
  background-color: #F2F2F2;
}

.desc {
  text-align: left;

}

.sorting-done {
  text-align: left;
  font-size: 1.8rem;
  position: absolute;
  right: 5%;
  top: 2%;

}

