@import "../app.component";

.canvas {
  border: 1px solid black;
}

.delete-canvas {
  position: absolute;
  right: 0;
  top: 0;
  color: $boostrapWhie;
  background-color: $boostrabDanger;
}

.delete-canvas:hover {
  cursor: pointer;
}

.execution-time {
  position: absolute;
  right: 1%;
  bottom: 5%;
  color: #4285F4;

}
.log{
  width: 500px;
}
.log-body{

  height: 300px;
  overflow-x: scroll;
  overflow-y: scroll;
  background: #FAFAFA;
  scrollbar-color:  #171717 #F2F2F2;
  scrollbar-width: thin !important;
  font-family: Consolas;
}

.step-description{
  color: #171717;
}
.step-name{
 color:  #1F1BFD;
}
.step{
  white-space: nowrap;
}
.log-header{
  height: 40px;
  background-color: #F2F2F2;
}
