<div class=" d-flex flex-column ">
  <div class="m-auto" ><h2><strong>{{sortingAlgorithmName}}</strong></h2></div>
  <div *ngIf="this.sortingAlgorithm!=null" class="description-wrapper mt-2 mb-2"><p class="description">{{sortingAlgorithm.description}}</p></div>
  <div class="position-relative m-auto">
    <canvas class="canvas shadow rounded" height="100" #canvas></canvas>
    <div class="sorting-done" *ngIf="this.sortingAlgorithm.done">
      Done
      <mdb-icon class="text-success font-weight-bold" far icon="check-circle"></mdb-icon>
    </div>
  </div>

</div>

